.WeatherApp {
  text-align: center;
  padding: 20px;
}
/* .WeatherApp {
  text-align: center;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
} */
